<div class="container">
    <form class="calculator">
        <div class="calculator__result-block">
            <input type="text" readonly class="calculator__result" *ngIf="!data.newNumberTrigger; else showNewNumber" value="{{ data.displayNumber }}">
            <ng-template #showNewNumber>
                <input type="text" readonly class="calculator__result" value="{{ data.displayNumber }}">
                <span class="calculator__current-operation">{{ data.result }} {{ data.currentOperation }}</span>
            </ng-template>
            <span class="calculator__current-operation"> {{ data.currentOperation }}</span>
        </div>

        <div class="calculator__controls">
            <span class="calculator__item calculator__operation" (click)="data.setOperation('C')">C</span>
            <span class="calculator__item calculator__operation" (click)="data.setOperation('Del')">Del</span>
            <span class="calculator__item calculator__operation" (click)="data.setOperation('%')">%</span>
            <span class="calculator__item calculator__operation" (click)="data.setOperation('/')">/</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(7)">7</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(8)">8</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(9)">9</span>
            <span class="calculator__item calculator__operation" (click)="data.setOperation('X')">X</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(4)">4</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(5)">5</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(6)">6</span>
            <span class="calculator__item calculator__operation" (click)="data.setOperation('-')">-</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(1)">1</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(2)">2</span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(3)">3</span>
            <span class="calculator__item calculator__operation" (click)="data.setOperation('+')">+</span>
            <span class="calculator__item calculator__item--space"> </span>
            <span class="calculator__item calculator__number" (click)="data.getNumber(0)">0</span>
            <span class="calculator__item calculator__item--big" (click)="data.getValue()">=</span>
        </div>
    </form>
</div>
